<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona os pedidos que não correspondem a arquivos ou diretórios existentes para o front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Remove a barra no final da URL se não for um diretório
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
</IfModule>
